<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- formulaire de création de diplome -->
    <form action="/creerDiplome" method="post">
        <label for="nom">Nom : </label>
        <input type="text" name="nom" id="nom">
        <label for="prenom">Prenom :</label>
        <input type="text" name="prenom" id="prenom">
        <label for="nomDiplome">intitulé</label>
        <input type="text" name="nomDiplome" id="nomDiplome">
        <input type="submit" value="Créer">
    </form>
<!-- voir la liste des diplomes -->
<a href="/listeDiplomes">Voir la liste des diplomes</a>
</body>
</html>