<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>creerDiplome</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-center mx-4 space-y-2">
<h1 class="text-blue-600 text-5xl font-bold mt-20">Création Diplôme</h1>

<div class="grid grid-cols-3">
    <div class="mx-5 p-5">
    </div>
    <div class="mx-5 p-5">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/creerDiplome" method="post">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="nom">
                    Nom :
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="nom" name="nom" type="text" placeholder="Nom">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="prenom">
                    Prénom :
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="prenom" name="prenom" type="text" placeholder="Prenom">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="nomDiplome">
                    Intitulé :
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="nomDiplome" name="nomDiplome" type="text" placeholder="Intitulé">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Mail :
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="email" name="email" type="email" placeholder="Mail">
            </div>
            <div class="flex items-center justify-between">
                <input type="submit"
                       class="px-5 py-2 mt-3 rounded-full bg-gray-200 hover:text-gray-400 cursor-pointer w-full text-gray-800 font-bold"
                       value="Créer"/>
            </div>
        </form>
        <br>
        <div>
            <a href="/listeDiplomes"
               class="px-10 py-2  rounded-full bg-blue-200 hover:text-white-400 cursor-pointer w-full text-white-800 font-bold m-50">Voir
                la liste des diplomes</a>
        </div>
    </div>
    <div class="mx-5 p-5 content-center">
    </div>


</div>
</body>
</html>